.experienceContent {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.experienceTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: #682333;
}

.experienceTitle p {
    font-size: 3em;
}

.experiecenceListTechno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.experienceLogo {
    padding: 10px;
}

.experienceLogo img {
    width: 50px;
    height: 50px;
}

.listExperiences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.experiencesItem {
    background: #e0234e;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    min-width: 40%;
}

.experiencesTitle {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.experiencesLibelle {
    text-decoration: underline;
    margin-right: 2px;
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1200px) {
    .experiencesItem {
        width: 80%;
        margin: 25px 0;
    }
}

@media only screen and (max-width: 992px) {
    .experienceContent {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 750px) {

    .experiencesItem {
        width: 100%;
        margin: 25px 0;
    }

    .experienceTitle p {
        font-size: 2.5em;
    }

}