.home {
    background: #2a6877;
    /* height: 100vh; */
    overflow-x: hidden;
}

.section {
    min-height: 100vh;
}

.aboutSection {
    background: #0d1117;
}

.workSection {
    background: #F2F2F2;
}

.contactSection {
    background: #0d1117;
}