.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%
}

.aboutImage {
    padding: 25px;
}

.aboutImage img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.aboutText {
    padding: 25px;
}

.aboutText p {
    color: #F2F2F2;
    font-size: 1.5em;
    text-align: justify;
}

.aboutTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: #682333;
}

.aboutTitle p {
    font-size: 3em;
}

@media only screen and (max-width: 992px) {
    .aboutSection {
        padding: 5px; 
        margin: 0;
    }

    .aboutImage {
        padding: 5px;
    }

    .aboutImage img {
        width: 100px;
        height: 100px;
    }

    .aboutText {
        padding: 5px;
    }

    .aboutText p {
        font-size: 1.2em;
    }

}