.workContent {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.workTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: #682333;
}

.workTitle p {
    font-size: 3em;
}

.listWork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.workImage img {
    width: 100%;
    height: auto;
}

.workItem {
    background: #e0234e;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    height: auto;
    width: 40%;
}

.workBody {
    padding: 5px;
}

.workDescription {
    padding: 10px 0;
}


.workDescriptionItem {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.workDescriptionItem p {
    font-weight: bold;
}


@media only screen and (max-width: 750px) {
    .workItem {
        width: auto;
        margin: 25px;
    }
}