.home {
    background: #2a6877;
    overflow-x: hidden;
    height: 100vh;
}

.cvContent {
    margin: 25px 0;
}

.cv {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 992px) {
    .cv {
        width: 100%;
    }
}